whatsapp_to_langchain_workflow.json
{
  "name": "WhatsApp -> LangChain Bot Forwarder",
  "nodes": [
    {
      "parameters": {
        "path": "whatsapp-in",
        "httpMethod": "POST",
        "responseMode": "onReceived"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250,300]
    },
    {
      "parameters": {
        "authentication": "none",
        "url": "={{ $json }}",
        "options": {}
      },
      "name": "Set Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [500,300]
    },
    {
      "parameters": {
        "url": "https://YOUR_LANGCHAIN_SERVER_DOMAIN/webhook",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ $json }}"
      },
      "name": "Call LangChain Server",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [750,300]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "sheetId": "YOUR_GOOGLE_SHEET_ID",
        "range": "Sheet1!A:E",
        "operation": "append",
        "options": {}
      },
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [1000,300]
    },
    {
      "parameters": {
        "url": "https://YOUR_LANGCHAIN_SERVER_DOMAIN/analytics",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\"timestamp\": new Date().toISOString(), \"sender\": {{$json[\"entry\"][0][\"changes\"][0][\"value\"][\"messages\"][0][\"from\"] }}, \"message\": {{$json[\"entry\"][0][\"changes\"][0][\"value\"][\"messages\"][0][\"text\"][\"body\"] }}, \"intent\": \"\", \"sentiment\": \"\"}"
      },
      "name": "Post Analytics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [1000,520]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Payload": {
      "main": [
        [
          {
            "node": "Call LangChain Server",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Post Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call LangChain Server": {
      "main": [
        [
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
